body{
    font-family: sans-serif ;
      background-color: #000080;
  }
  
  .main {
    background-image: url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #ffffff;
    overflow-y: scroll;
    font-size: 24px;
    background-color: #0000ff;
  }
  
  .main::after{
    content: "";
     
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  
  
  #title , #description{
    text-align: center;
    font-size: 35px;
    z-index: Z;
    position: relative;
  }
  
  .main-content{
    background-color: rgb(27,27,50,0.9);
    max-width: 650px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: auto;
    margin-bottom: 40px;
    border-radius: 5px;
    z-index: Z;
    positon: relative;
    
    }
  #name , #email , #number , #dropdown , #comment {
    display: block;
    width: 100%;
    height: 35px;
    padding: 5px 10px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 40px;
    
  }
  
  label[for=name]{
    margin-bottom: 10px;
    display: inline-block;
  }
  #comment{
    min-height: 180px;
  }
  
  label[for=comment]{
    margin-top: 30px;
  }
  
  #submit{
    display: block;
    width: 100%;
    background: #37af65;
    border-radius: 2px;
    padding: 12px;
    cursor: pointer;
    border: 0;
    color: #ffffff;
    font-size: 20px;
  }
   
  #comment{
    
  }